<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="commons/fragment::meta"></div>
	<div th:replace="commons/fragment::link"></div>
	<div th:replace="commons/fragment::title"></div>
</head>
<body>
	<div th:replace="commons/fragment::header"></div>
	<br>
	<form enctype="multipart/form-data" th:action="@{/blogEditComplete}" th:object="${blogsForm}" method="post" novalidate>
		<div class="container">
			<div class="wrapper">
				<div class="card bg-light">
					<div class="card-header">ブログ投稿確認</div>
					<div class="card-body">
						<p>タイトル：<input type="text" class="form-control" name="title" placeholder="タイトル" th:value="*{title}" readonly /></p>
						<p>投稿内容：<textarea class="form-control form-control-lg" rows="20" name="content" placeholder="投稿内容" readonly>[[ *{content} ]]</textarea></p>
						<br>
						<div class="text-center">
							<button class="btn btn-lg btn-primary btn-block" name="blogEditConfirm" value="blogEditConfirm" type="submit">登録</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<br>
	<div class="text-center">
		<a th:href="@{'/blogEdit/' + ${blogId}}" class="btn btn-secondary">戻る</a>
	</div>
	
	<div th:replace="commons/fragment::scripts"></div>
</body>
</html>