<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="commons/fragment::meta"></div>
	<div th:replace="commons/fragment::link"></div>
	<div th:replace="commons/fragment::title"></div>
</head>
<body>
	<div th:replace="commons/fragment::header"></div>
	<br>
	<p>ブログの削除が完了しました。</p>
	<br>
	<div class="text-center">
		<a th:href="@{/index}" class="btn btn-secondary">メイン画面へ</a>
	</div>
	
	<div th:replace="commons/fragment::scripts"></div>
</body>
</html>