<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="commons/fragment::meta"></div>
	<div th:replace="commons/fragment::link"></div>
	<div th:replace="commons/fragment::title"></div>
</head>
<body>
	<div th:replace="commons/fragment::header"></div>
	<br>
	<form enctype="multipart/form-data" th:action="@{/blogEditConfirm}" th:object="${blogForm}" method="post" novalidate>
	    <div class="container">
			<div class="wrapper">
				<div class="card bg-light">
					<div class="card-header">ブログ編集フォーム</div>
					<div class="card-body">
						<p>タイトル：<input type="text" class="form-control" name="title" placeholder="タイトル" th:value="${titleSession}" /></p>
						<span class="errorStr" th:errors="*{title}"></span>
						<p>投稿内容：<textarea class="form-control form-control-lg" rows="20" name="content" placeholder="投稿内容">[[ ${contentSession} ]]</textarea></p>
						<span class="errorStr" th:errors="*{content}"></span>
						<br>
						<div class="text-center">
							<button class="btn btn-lg btn-primary btn-block" name="submit" value="confirm" type="submit">確認</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<br>
	<div class="text-center">
		<a th:href="@{/index}" class="btn btn-secondary">メイン画面へ</a>
	</div>
	
	<div th:replace="commons/fragment::scripts"></div>
</body>
</html>