<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="commons/fragment::meta"></div>
	<div th:replace="commons/fragment::link"></div>
	<div th:replace="commons/fragment::title"></div>
</head>
<body>
	<div th:replace="commons/fragment::header"></div>
	<br>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th>ID</th>
				<th>タイトル</th>
				<th>投稿日時</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<div th:each="blog : ${blogListByUser}">
			<tr>
				<td>[[ ${blog.blogId} ]]</td>
				<td><a th:href="@{'/blogDetail/' + ${blog.blogId}}">[[ ${blog.title} ]]</a></td>
				<td>[[ ${blog.createdAt} ]]</td>
				<td><a th:href="@{'/blogEdit/' + ${blog.blogId}}">編集</a></td>
				<td><a th:href="@{'/blogDelete/' + ${blog.blogId}}">削除</a></td>
				<td></td>
			</tr>
  			</div>
		</tbody>
	</table>
	
	<div th:replace="commons/fragment::scripts"></div>
</body>
</html>