<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="commons/fragment::meta"></div>
	<div th:replace="commons/fragment::link"></div>
	<div th:replace="commons/fragment::title"></div>
	<link th:href="@{/css/blog/blogDetail.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="commons/fragment::header"></div>
	<br>
	<p>タイトル：<input type="text" class="form-control" name="title" placeholder="タイトル" th:value="${title}" readonly /></p>
	<p>投稿内容：<textarea class="form-control form-control-lg" rows="20" name="content" placeholder="投稿内容" readonly>[[ ${content} ]]</textarea></p>
	<hr>
	<p>コメント：</p>
	<div class="flexbox">
		<div th:each="content : ${commentContents}">
			<p>[[ ${content} ]]</p>
		</div>
		<div th:each="username : ${commentUsername}">
			<p>[[ ${username} ]]</p>
		</div>
	</div>
	<th:block th:unless="${#strings.contains(preUri, 'blogListByUser')}">
		<form enctype="multipart/form-data" th:action="@{'/blogComment/' + ${blogId}}" th:object="${commentsForm}" method="post" novalidate>
			<textarea class="form-control form-control-lg" rows="3" name="content" placeholder="ブログコメント"></textarea>
			<br>
			<div class="text-center">
				<button class="btn btn-lg btn-primary btn-block" name="blogComment" type="submit">コメント</button>
			</div>
		</form>
	</th:block>
	<div th:replace="commons/fragment::scripts"></div>
</body>
</html>