<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
	<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #e3f2fd;" th:fragment="header">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/index}">Yours Blog</a>
			<div class="collapse navbar-collapse show" id="navbarLight">
				<ul class="navbar-nav me-auto mb-2 mb-xl-0">
					<li class="nav-item">
						<a class="navbar-brand" href="#">マイページ</a>
					</li>
				</ul>
				<form th:action="@{/logout}" class="d-flex" method="post">
        			<input type="submit" name="logout" class="btn btn-outline-success" value="ログアウト"/>
    			</form>
			</div>
		</div>
	</nav>
</body>
</html>