<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="commons/fragment::meta"></div>
	<div th:replace="commons/fragment::link"></div>
	<div th:replace="commons/fragment::title"></div>
</head>
<body>
	<div th:replace="commons/fragment::header"></div>
	<br>
	<form enctype="multipart/form-data" th:action="@{/login}" th:object="${usersDto}" method="post" novalidate>
	    <div class="container">
		    <div class="wrapper">
			    <div class="card bg-light">
				    <div class="card-header">ログインフォーム</div>
				    <div class="card-body">
					    <p>ユーザー名：<input type="text" class="form-control" name="username" placeholder="ユーザー名" th:field="*{username}" /></p>
					    <span class="errorStr" th:errors="*{username}"></span>
						<p>パスワード：<input type="password" class="form-control" name="password" placeholder="パスワード" th:field="*{password}" /></p>
						<span class="errorStr" th:errors="*{password}"></span>
						<br>
						<div class="text-center">
							<button class="btn btn-lg btn-primary btn-block" name="submit" value="login" type="submit">ログイン</button>
						</div>
				    </div>
			    </div>
		    </div>
	    </div>
	</form>
	<br>
	<div class="text-center">
		<a th:href="@{/signup}" class="btn btn-secondary">ユーザー登録画面へ</a>
	</div>
	
	<div th:replace="commons/fragment::scripts"></div>
</body>
</html>