<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="commons/fragment::meta"></div>
	<div th:replace="commons/fragment::link"></div>
	<div th:replace="commons/fragment::title"></div>
</head>
<body>
	<div th:replace="commons/fragment::header"></div>
	<br>
	<a th:href="@{/input}" class="btn btn-secondary">ブログ投稿へ</a>
	<br><br>
  	<a th:href="@{/blogList}" class="btn btn-secondary">ブログ一覧へ</a>
  	
  	<div th:replace="commons/fragment::scripts"></div>
</body>
</html>