<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="commons/fragment::meta"></div>
	<div th:replace="commons/fragment::link"></div>
	<div th:replace="commons/fragment::title"></div>
	<link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="commons/fragment::header"></div>
	<div class="flexbox">
		<div th:each="blog : ${blogList}" class="flexbox-item">
			<a th:href="@{'/blogDetail/' + ${blog.getId}}">[[ ${blog.title} ]]</a></td>
			<p>[[ ${blog.username} ]]</p>
		</div>
	</div>
  	<div th:replace="commons/fragment::scripts"></div>
</body>
</html>