<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<div th:replace="commons/fragment::meta"></div>
	<div th:replace="commons/fragment::link"></div>
	<div th:replace="commons/fragment::title"></div>
	<link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="commons/fragment::header"></div>
	
	<div class="flexbox">
		<div th:each="blogDict : ${allBlogDict}" class="flexbox-item">
			<a th:href="@{'/blogDetail/' + ${blogDict.key}}">
				<img th:src="${blogDict.value.get(2)}">
				<p class="title">[[ ${blogDict.value.get(0)} ]]</p>
				<p class="username">[[ ${blogDict.value.get(1)} ]]</p>
			</a>
		</div>
	</div>
	
  	<div th:replace="commons/fragment::scripts"></div>
</body>
</html>