<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[ ${titleName} ]]</title>
</head>
<body>
  <h1>[[ ${appName} ]]</h1>
  <form enctype="multipart/form-data" th:action="@{/confirm}" th:object="${blog}" method="post" novalidate>
    <label for="title">ブログタイトル：</label>
    <input type="text" th:field="*{title}">
    <span class="errorStr" th:errors="*{title}"></span><br>
    
    <label for="content">投稿内容：</label>
    <textarea th:field="*{content}" />
    <span class="errorStr" th:errors="*{content}"></span><br>
    
    <button>送信</button>
  </form>
</body>
</html>